.main {
	display: flex;
	.sidebar {
		position: fixed;
		width: 25%;
	}
	.feed,
	.searchResults {
		margin-left: 25%;
		width: 45%;
	}
	.rightSection {
		position: fixed;
		right: 0%;
		width: 30%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
